@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

table {
//  border-top: solid 1px #000;
//  border-left: solid 1px #000;
//  table-layout: fixed;
}

th, td {
//  border-right: solid 1px #000;
//  border-bottom: solid 1px #000;
//  padding: 4px;
}

.td_game_memo {
//  white-space: nowrap;
//  overflow: hidden;
//  text-overflow: ellipsis;
}

input.txt_search {
//  height: 21px;
//  margin-left: 8px;
}

.btn_search {
//  cursor: pointer;
}

#btn_search_by_genre {
//  width: 160px;
}

.opt_search>li>a {
  cursor: pointer;
}

#nav_top {
  background: #333;
  border-bottom: 0;
  opacity: .85;
}


* {
  font-family: 'Jeju Gothic', 'Hanna';
}

.h_title{
  color: #990000;
//  font-family: 'Raleway', 'Droid Serif';
  font-weight: 500;
}
h1.h_title {
  font-size: 56px;
  font-family: 'Hanna';
}
h2.h_title {
  font-size: 40px;
  margin-top: 0;
  font-family: 'Jeju Gothic';
}

.navbar-brand {
  color: #ccc !important;
  padding-right: 25px;
  font-family: 'Hanna';
}

th {
  min-width: 40px;
}

.td_0, .td_4 {
  color: #999;
}

ul.nav.navbar-nav>li>a , ul.nav.navbar-nav>li>a:visited{
  color: #fff;
  cursor: pointer;
}

ul.nav.navbar-nav>li>a:hover {
  color: #fff;
}

ul.nav.navbar-nav>li.active>a {
  color: #222;
  font-weight: bold;
  cursor: pointer;
}
/*
#list_boardgame thead .th_0 {
  width: 10%;
  max-width: 60px;
}

#list_boardgame thead .th_1 {
  width: 10%;
}

#list_boardgame thead .th_2 {
  width: 25%;
}


#list_boardgame thead .th_3 {
  width: 10%;
}


#list_boardgame thead .th_4 {
  width: 15%;
}


#list_boardgame thead .th_5 {
  width: 30%;
}
*/

.jumbotron {
  padding: 40px !important;
}

.jumbotron>h2 {
  margin-top: 10px;
}

#list_boardgame>tbody>tr:hover {
  background: #eee;
}

.td_2 {
  font-family: 'Hanna';
  font-size: 12pt;
}

.td_5 {
  text-align: center;
}

.td_5>a.btn {
  width: 40px;
  height: 19px;
  margin-top: 2px;
}

footer .text-muted {
//  text-align: center;
}
